/*  
   ===================================================================================
            PROYECTO DE FIN DE CURSO - Modulo Diseño Web
        Autor : Diana Catalina Cano Narvaez
        Versión: 1.0
        Lugar: Valencia España 
        Año: 2023
        VER.    FECHA             COMENTARIOS
        1.0     07/06/2023       Página web para una ferretería el tipo de 
                                 desarrollo fue desktop first
    =================================================================================== */

/* Definición de variables de color */
:root {
  --dark-grey: #333;
  --white: #fff;
  --dark-blue: #081158;
  --yellow: #f2c43e;
  --grey: #535353;
  --light-grey: #d9d9d9;
  --text-grey: #616161;
  --blue: #2553a8;
  --black: rgba(0, 0, 0, 0.3);
  --soft-blue: #dbdfe8;
}

/* Configuración de la caja de modelado para todos los elementos y sus pseudo-elementos para mantener una consistencia en la presentación */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reinicio del margen para todos los elementos */
* {
  margin: 0;
}

/*Estilos Generales para los titulos*/
h2 {
  color: var(--grey);
  text-transform: uppercase;
  font-size: clamp(1rem, 1.935vw + 0.613rem, 4rem);
  text-align: center;
}

/*Estilos generales para las etiquetas a */
a {
  color: white;
  text-decoration: none;
}

/*Estilos generales que aplican a las secciones*/
section {
  margin-bottom: 7rem;
}

/* Estilo para hacer que las imagenes se adapten al tamaño de su contenedor*/
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*Importacion de fuentes locales*/
@font-face {
  font-family: Monserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Monserrat;
  font-weight: bold;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: lighter;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

/* Estilo para el elemento <html> */
html {
  font-family: Monserrat, system-ui, sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
}

/*Estilos del Header*/
.barra-superior,
nav,
nav ul,
#slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0 30px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

/* Barra Superior*/
.barra-superior {
  background-color: var(--dark-grey);
  height: 40px;
  margin: 0;
}

.barra-superior small,
.nombre-marca,
nav ul,
.info-contacto,
.btn-whatsapp {
  animation: aparecer-derecha 1s ease-in;
}

.iconos {
  display: inline-flex;
  gap: 10px;
  animation: aparecer-izquierda 1s ease-in;
}

.caja-icono {
  max-width: 25px;
}

.info-contacto {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.nombre-marca {
  /* Se usa la funcion clamp para obtener un texto fluido */
  font-size: clamp(0.75rem, 0.806vw + 0.589rem, 2rem);
  white-space: nowrap;
}

/*Barra de navegacion*/
nav {
  background-color: var(--dark-blue);
  padding: 10px 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  gap: 30px;
}
nav ul li > a {
  text-decoration: none;
  color: var(--white);
  /* Se usa la funcion clamp para obtener un texto fluido */
  font-size: clamp(0.75rem, 0.323vw + 0.685rem, 1.25rem);
}

nav ul li {
  transition: all ease-in 0.5s;
}

/* Comportamiento que se mostrara al pasar el cursor sobre el elemento */
nav ul li:hover {
  background-color: var(--yellow);
  padding: 5px 7px;
  border-radius: 30px;
}

/*Botón de Whatsapp*/
.btn-whatsapp {
  width: clamp(2rem, 1.613vw + 1.484rem, 6rem);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  /* Se usa la propiedad z-index para colocar el boton en la primera capa siempre*/
  z-index: 2;
  background: #4fce5d;
  box-shadow: 0 0 0 0 rgba(79,206,93,0.5);
  animation: circular 1s infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;

}

.btn-whatsapp img {
  object-fit: cover;
}


/*Seccion presentacion*/
#slider {
  height: 40vh;
  background: url("../assets/img/banner-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
.presentacion {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 50px 0px;
}

.presentacion h1,
.presentacion h3 {
  font-weight: 600;
  animation: aparecer-izquierda 1s ease-in;
  color: var(--white);
}

.presentacion h1 {
  font-size: clamp(2rem, 2.581vw + 1.484rem, 6rem);
  line-height: 2;
}
.presentacion h3 {
  font-size: clamp(1rem, 0.871rem + 0.65vw, 2rem);
}

/*Seccion Logo*/
#logo {
  margin-bottom: 2rem;
}

.img-logo-container {
  height: 50vh;
  padding: 30px;
  animation: subir 1s ease-in;
}

/* Sección Quiénes Somos */
#quienesSomos {
  background: url("../assets/img/banner-quienes-somos.jpg") center center no-repeat;
  background-size: cover;
  height:  fit-content;
  width: 100%;
}

.descripcion {
  width: 50%;
  height: 100%;
  background-color: #2553a8;
  color: var(--white);
  /* Se utiliza la propiedad clip-path crear la forma sobre la cual va el texto */
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
  padding: clamp(1rem, 2.581vw + 0.484rem, 5rem) 50px;
}

.info-descripcion {
  width: 90%;
  /* Se agrega la propiedad hypens para hacer que cuando el texto se desborde ponga un - y continue en la siguiente linea */
  hyphens: auto;
}

.info-descripcion h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(2rem, 2.581vw + 1.484rem, 6rem);
  margin-bottom: 50px;
  text-align: left;
}

.info-descripcion p {
  font-size: clamp(0.75rem, 0.806vw + 0.589rem, 2rem);
  line-height: 1.5;
}

/*Estilos Generales a todos los titulos de las secciones dado que se quiere que siempre aparezca una linea por debajo del titulo*/
section h2 {
  position: relative;
}

/* Creacion de la linea que esta debajo el titulo */
section h2::before {
  content: "";
  position: absolute;
  width: calc(28vw);
  height: 3px;
  background-color: var(--blue);
  bottom: -10px;
  border-radius: 30px;
  transform: translateX(10%);
}

/*Sección Promociones*/

.contenedor-tarjetas {
  margin-top: 4rem;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.flecha {
  width: 70px;
  height: 70px;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.flecha:hover {
  background-color: var(--dark-blue);
}

/*Tarjeta de Productos*/
.tarjerta-producto {
  height: 50vh;
  background-color: var(--light-grey);
  border-radius: 30px;
  flex-basis: 20%;
  box-shadow: 5px 5px 7px var(--black);
  cursor: pointer;
}

.tarjerta-producto:nth-child(6){
  position: relative;
}

 .tarjerta-producto:nth-child(6)::before{
  content:url('../assets/img/new-icon.svg'); 
  position: absolute;
  top: -20%;
  right: -10%;
  z-index: 300  ;
  transform: rotate(20deg);
  transition: all ease-in 1s;
} 

 .tarjerta-producto:nth-child(6):hover::before{
  transform: rotate(360deg);
} 

.img-tarjeta {
  height: 70%;
  padding: 2rem;
  transition: all linear 0.5s;
}

.img-tarjeta :hover{
  transform: rotate(5deg);
}

.detalle-tarjeta {
  color: var(--white);
  background-color: var(--blue);
  padding: 30px;
  border-radius: 30px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all ease-in 0.3s;
  text-align: center;
}

.detalle-tarjeta h3 {
  font-weight: lighter;
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
}

.precio {
  font-weight: bold;
  font-size: clamp(2rem, 0.806vw + 1.742rem, 4rem);

}


.boton-tarjeta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--yellow);
  color:var(--white);
  padding: 10px 15px;
  margin: 10px;
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  display: none;
  transition: all ease-in 0.3s;
}

.boton-tarjeta:focus {
  outline: 2px solid var(--white);
  outline-offset: -5px;
}


.detalle-tarjeta:hover {
  background-color: var(--dark-blue);
  
}


  .detalle-tarjeta:hover > .boton-tarjeta{
    display: inline-block;
    transform: translateY(15%);
  }

  .detalle-tarjeta:hover > .detalle-tarjeta h3,
  .detalle-tarjeta:hover > .precio{
    display: none;
  }
/*Informacion de Entrega*/

.info-entrega {
  margin-top: 5rem;
  width: 100%;
  padding: 30px;
  background-color: var(--soft-blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trajeta-iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all linear 0.3s;
}

.trajeta-iconos:hover {
  transform: scale(1.2, 1.2);
}

.trajeta-iconos p {
  color: var(--text-grey);
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
  text-align: center;
  margin-top: 1rem;
}

.icono-info-entrega {
  width: clamp(4rem, 2.419vw + 3.226rem, 10rem);
  height: clamp(4rem, 2.419vw + 3.226rem, 10rem);
}



.card {
  border-radius: 16px;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow:  5px 5px 7px var(--black);
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  background-size: cover;
}



.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  transform: translateY(100%)
    translateY(-90px);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0);
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color:var(--dark-grey)
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}







/*Animaciones*/
@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-izquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-derecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes circular {
  100% {
     box-shadow: 0 0 0 52.8px #0000;
  }
}
