/*  
   ===================================================================================
            PROYECTO DE FIN DE CURSO - Modulo Diseño Web
        Autor : Diana Catalina Cano Narvaez
        Versión: 1.0
        Lugar: Valencia España 
        Año: 2023
        VER.    FECHA             COMENTARIOS
        1.0     07/06/2023       Página web para una ferretería el tipo de 
                                 desarrollo fue desktop first
    =================================================================================== */

/* Definición de variables de color */
:root {
  --dark-grey: #333;
  --white: #fff;
  --dark-blue: #081158;
  --yellow: #f2c43e;
  --grey: #535353;
  --blue: #2553a8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
}

/* Configuración de la caja de modelado para todos los elementos y sus pseudo-elementos para mantener una consistencia en la presentación */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reinicio del margen para todos los elementos */
* {
  margin: 0;
}

/*Estilos Generales para los titulos*/
h2 {
  color: var(--grey);
}

/*Estilos generales para las etiquetas a */
a {
  color: white;
  text-decoration: none;
}

/*Estilos generales que aplican a las secciones*/
section {
  margin-top: 3rem;
}

/* Estilo para hacer que las imagenes se adapten al tamaño de su contenedor*/
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*Importacion de fuentes locales*/
@font-face {
  font-family: Monserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Monserrat;
  font-weight: bold;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: lighter;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

/* Estilo para el elemento <html> */
html {
  font-family: Monserrat, system-ui, sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
}

/*Estilos del Header*/
.barra-superior,
nav,
nav ul,
#slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0 30px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

/* Barra Superior*/
.barra-superior {
  background-color: var(--dark-grey);
  height: 40px;
  margin: 0;
}

.barra-superior small,
.nombre-marca,
nav ul,
.info-contacto,
.btn-whatsapp {
  animation: aparecer-derecha 1s ease-in;
}

.iconos {
  display: inline-flex;
  gap: 10px;
  animation: aparecer-izquierda 1s ease-in;
}

.caja-icono {
  max-width: 25px;
}

.info-contacto {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.nombre-marca {
  font-size: clamp(0.75rem, 0.645rem + 0.52vw, 1.563rem);
  white-space: nowrap;
}

/*Barra de navegacion*/
nav {
  background-color: var(--dark-blue);
  padding: 10px 30px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  gap: 30px;
}
nav ul li > a {
  text-decoration: none;
  color: var(--white);
}

nav ul li {
  transition: all ease-in 0.5s;
}

nav ul li:hover {
  background-color: var(--yellow);
  padding: 5px 7px;
  border-radius: 30px;
}

/*Botón de Whatsapp*/
.btn-whatsapp {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.btn-whatsapp img {
  transition: all ease-in 0.5s;
}

.btn-whatsapp :hover img {
  width: 70px;
}

/*Seccion presentacion*/
#slider {
  height: 40vh;
  background: url("../assets/img/banner-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
.presentacion {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 50px 0px;
}

.presentacion h1,
.presentacion h2 {
  font-weight: 600;
  animation: aparecer-izquierda 1s ease-in;
  color: var(--white);
}

.presentacion h1 {
  font-size: clamp(1.563rem, 1.377rem + 0.93vw, 3rem);
  line-height: 2;
}
.presentacion h2 {
  font-size: clamp(1rem, 0.871rem + 0.65vw, 2rem);
}

/*Seccion Logo*/
.img-logo-container {
  height: 50vh;
  padding: 30px;
  animation: subir 1s ease-in;
}

#quienesSomos {
  background: url("../assets/img/banner-quienes-somos.jpg") center center
    no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.descripcion {
  width: 50%;
  height: 100%;
  background-color: #2553a8;
  color: var(--white);
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
  padding: 80px 50px;
}

.info-descripcion{
  width: 90%;
  hyphens: auto;
}

.info-descripcion h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 50px;
}
.info-descripcion p {
  font-size: 1.5rem;
  line-height: 1.5;

}

/*Animaciones*/
@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-izquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-derecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
