/*  
   ===================================================================================
            PROYECTO DE FIN DE CURSO - Modulo Diseño Web
        Autor : Diana Catalina Cano Narvaez
        Versión: 1.0
        Lugar: Valencia España 
        Año: 2023
        VER.    FECHA             COMENTARIOS
        1.0     07/06/2023       Página web para una ferretería el tipo de 
                                 desarrollo fue desktop first
    =================================================================================== */

/* Definición de variables de color */
:root {
  --dark-grey: #333;
  --white: #fff;
  --dark-blue: #081158;
  --yellow: #f2c43e;
  --grey: #535353;
  --light-grey: #d9d9d9;
  --text-grey: #616161;
  --blue: #2553a8;
  --black: rgba(0, 0, 0, 0.3);
  --soft-blue: #dbdfe8;
  --blue-background: rgba(8, 17, 88, 0.8);
  --background-color-grey: #f8f8f8;
}

/* Configuración de la caja de modelado para todos los elementos y sus pseudo-elementos para mantener una consistencia en la presentación */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reinicio del margen para todos los elementos */
* {
  margin: 0;
}

/*Estilos Generales para los titulos*/
h2 {
  color: var(--grey);
  text-transform: uppercase;
  font-size: clamp(1rem, 1.935vw + 0.613rem, 4rem);
  text-align: center;
}

/*Estilos generales para las etiquetas a */
a {
  color: white;
  text-decoration: none;
}

/* Estilo para hacer que las imagenes se adapten al tamaño de su contenedor*/
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*Importacion de fuentes locales*/
@font-face {
  font-family: Monserrat;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Monserrat;
  font-weight: bold;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Monserrat;
  font-weight: lighter;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

/*Estilo para el elemento <html>*/
html {
  font-family: Monserrat, system-ui, sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
  /*Se agrega esta propiedad para que cuando alguno de los elementos de texto se desborde pueda colocarse - y continuar el texto*/
  hyphens: auto;
}

/*Estilos asociados al preloader*/
.preloader {
	position: fixed;
  inset: 0; /*Shortcut para llamar las propiedades top, left, right y button*/
	z-index: 3;
	background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.circulo-preloader{
  width:100px;
  height:100px;
  border-radius:50%;
  border:16px solid;
  border-color:var(--white);
  border-right-color: var(--blue);
  z-index: 1;
  animation:rotar 1s infinite linear;
}


/*Clase Generica para poder ocultar elementos atraves de JS*/
.ocultar{
  display: none;
}


/*Estilos del Header*/
.barra-superior,
nav,
nav ul,
#slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0 30px;
  text-transform: uppercase;
  width: 100%;
}

/*Barra Superior*/
.barra-superior {
  background-color: var(--dark-grey);
  height: 40px;
  margin: 0;
}

/*Contenedor de los iconos de redes sociales*/
.iconos {
  display: inline-flex;
  gap: 10px;
}

/*Clase reutilizable para todos los iconos utilizados en la web*/
.caja-icono {
  max-width: 25px;
}

/*Clase asociada a la informacion de contacto*/
.informacion-servicio-contacto {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.nombre-marca {
  /*A lo largo de toda la hoja de estilos se usa la funcion clamp para obtener un tamaño fluido
    Para calcular los tamaños fue utilizada la herramienta  https://geary.co/clamp-calculator/ 
  */
  font-size: clamp(0.75rem, 0.806vw + 0.589rem, 2rem);
  white-space: nowrap;
}

/*Barra de navegacion*/
nav {
  background-color: var(--dark-blue);
  padding: 10px 30px;
}

/*Lista del Menú de navegacion*/
nav ul {
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  gap: 30px;
}
/*Enlaces del Menú de Navegacion*/
nav ul li>a {
  text-decoration: none;
  color: var(--white);
  font-size: clamp(0.75rem, 0.323vw + 0.685rem, 1.25rem);
}
nav ul li {
  transition: all ease-in 0.5s;
}

/* Comportamiento que se mostrará al pasar el cursor sobre el elemento */
nav ul li:hover,
a:active,
.seleccionado {
  background-color: var(--yellow);
  padding: 5px 7px;
  border-radius: 30px;
}

/*Botón de Whatsapp*/
.btn-whatsapp {
  width: clamp(2rem, 1.613vw + 1.484rem, 6rem);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  /* Se usa la propiedad z-index para colocar el boton en la primera capa siempre*/
  z-index: 2;
  background: #4fce5d;
  box-shadow: 0 0 0 0 rgba(79, 206, 93, 0.5);
  animation: circular 1s infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.btn-whatsapp img {
  object-fit: cover;
}

/*Seccion presentacion*/

/*Estilos asociados a la seccion*/
#slider {
  background: url("../assets/img/banner-1.jpg") no-repeat;
  height: 40vh;
  background-size: contain;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

/*Estilos asociados al banner de texto que va sobre la foto*/
.presentacion {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 20px 0px;
}
.presentacion h1,
.presentacion h3 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: var(--white);
}
.presentacion h1 {
  font-size: clamp(2rem, 2.581vw + 1.484rem, 6rem);
  line-height: 1.5;
}
.presentacion h3 {
  font-size: clamp(1rem, 0.871rem + 0.65vw, 2rem);
}

/*Seccion Logo*/
#logo {
  margin-bottom: 2rem;
}
.img-logo-container {
  height: 50vh;
  padding: 30px;
}

/* Sección Quiénes Somos */
#quienesSomos {
  background: url("../assets/img/banner-quienes-somos.jpg") center center no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}

.descripcion {
  width: 50%;
  height: 100%;
  background-color: var(--blue);
  color: var(--white);
  /* Se utiliza la propiedad clip-path crear la forma sobre la cual va el texto */
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
  padding: clamp(1rem, 2.581vw + 0.484rem, 5rem) 50px;
}

.informacion-servicio-descripcion {
  width: 90%;
}

.informacion-servicio-descripcion h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(2rem, 2.581vw + 1.484rem, 6rem);
  margin-bottom: 50px;
  text-align: left;
}

.informacion-servicio-descripcion p {
  font-size: clamp(0.75rem, 0.806vw + 0.589rem, 2rem);
  line-height: 1.5;
}

/*Estilos Generales a todos los titulos de las secciones dado que se quiere que siempre aparezca una linea por debajo del titulo*/
section h2 {
  position: relative;
}

/* Creacion de la linea que esta debajo el titulo */
section h2::before {
  content: "";
  position: absolute;
  width: calc(28vw);
  height: 3px;
  background-color: var(--blue);
  bottom: -10px;
  border-radius: 30px;
  transform: translateX(10%);
}

/*Estilos para la seccion que contiene una flecha que indica que puedes subir en la pagina web*/
.division {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 3rem;
  height: 50px;
  font-size: 200px;
}
.flecha-arriba {
  transform: rotate(-90deg);
  font-size: 10;
}
.flecha-arriba a {
  color: var(--blue);
}

/*Sección Promociones*/
.contenedor-tarjetas {
  margin-top: 4rem;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.flecha {
  width: 70px;
  height: 70px;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.flecha:hover {
  background-color: var(--dark-blue);
}

/*Tarjeta de Productos*/
.tarjerta-producto {
  height: 50vh;
  background-color: var(--light-grey);
  border-radius: 30px;
  flex-basis: 20%;
  box-shadow: 5px 5px 7px var(--black);
  cursor: pointer;
}

/*Estilos necesarios para poder colocarle al ultimo elemento de los productos el sticker que indica que el producto es nuevo*/
.tarjerta-producto:nth-child(6) {
  position: relative;
}

/* Se agrega el sticker de que el producto es nuevo usando el posicionamiento absoluto*/
.tarjerta-producto:nth-child(6)::before {
  content: url("../assets/img/new-icon.svg");
  position: absolute;
  top: -20%;
  right: -10%;
  z-index: 1;
  transform: rotate(20deg);
  transition: all ease-in 1s;
}

/*Trasnformacion asociada al sticker de producto nuevo*/
.tarjerta-producto:nth-child(6):hover::before {
  transform: rotate(360deg);
}

/*Estilos asociados a la imagen del producto*/
.img-tarjeta {
  height: 70%;
  padding: 2rem;
  transition: all linear 0.5s;
}
.img-tarjeta :hover {
  transform: rotate(5deg);
}

/*Estilos asociados al detalle de la tarjeta*/
.detalle-tarjeta {
  color: var(--white);
  background-color: var(--blue);
  padding: 30px;
  border-radius: 30px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all ease-in 0.3s;
  text-align: center;
}
.detalle-tarjeta h3 {
  font-weight: lighter;
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
}
.precio {
  font-weight: bold;
  font-size: clamp(2rem, 0.806vw + 1.742rem, 4rem);
}
.boton-tarjeta {
  background-color: var(--yellow);
  color: var(--white);
  padding: 10px 15px;
  margin: 10px;
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
  border: none;
  border-radius: 50%;
  display: none;
  transition: all ease-in 0.3s;
}

.boton-tarjeta:focus {
  outline: 2px solid var(--white);
  outline-offset: -5px;
}

.detalle-tarjeta:hover {
  background-color: var(--dark-blue);
}

.detalle-tarjeta:hover>.boton-tarjeta {
  display: block;
}

.detalle-tarjeta:hover>.precio {
  display: none;
}

/* Slider de Marcas */
.slider-marcas {
  height: 100px;
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider-marcas::before,
.slider-marcas::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider-marcas::after {
  right: 0;
  top: 0;
}

.slider-marcas::before {
  left: 0;
  top: 0;
}

.slider-marcas .contenedor-marcas {
  animation: desplazarse 20s linear infinite;
  display: flex;
  width: calc(500px * 20);
}

.slider-marcas .marca {
  height: 100px;
  width: 350px;
}

.marca img {
  max-width: 250px;
}

/*Informacion de Entrega*/
.informacion-servicio-entrega {
  margin-top: 5rem;
  width: 100%;
  padding: 30px;
  background-color: var(--soft-blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trajeta-iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all linear 0.3s;
}

.trajeta-iconos:hover {
  transform: scale(1.2, 1.2);
}

.trajeta-iconos p {
  color: var(--text-grey);
  font-size: clamp(1rem, 0.403vw + 0.871rem, 2rem);
  text-align: center;
  margin-top: 1rem;
}

.icono-informacion-servicio-entrega {
  width: clamp(4rem, 2.419vw + 3.226rem, 10rem);
  height: clamp(4rem, 2.419vw + 3.226rem, 10rem);
}

/*Servicios*/
.tarjeta-servicios {
  border-radius: 16px;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 5px 5px 7px var(--black);
  overflow: hidden;
}

.tarjeta-servicios:nth-child(1) {
  background: url('../assets/img/servicio-1.jpg') center center;
  background-size: cover;
}

.tarjeta-servicios:nth-child(2) {
  background: url('../assets/img/servicio-2.jpg') center center;
  background-size: cover;
}

.tarjeta-servicios:nth-child(3) {
  background: url('../assets/img/servicio-3.jpg') center center;
  background-size: cover;
}

.informacion-servicio {
  position: relative;
  width: 100%;
  height: 500px;
  color: var(--white);
  background-color: var(--blue-background);
  transform: translateY(100%) translateY(-120px);
  transition: transform 0.5s ease-out;
  text-align: justify;
}

.tarjeta-servicios:hover .informacion-servicio {
  transform: translateY(0);
}

.titulo-servicio,
.descripcion_servicio {
  margin: 0;
  padding: 30px;
}

.titulo-servicio {
  text-transform: uppercase;
  font-size: clamp(1.25rem, 1.089rem + 0.81vw, 2.5rem);
  line-height: 1;
  text-align: center;
}

.descripcion_servicio {
  font-size: clamp(0.75rem, 0.702rem + 0.24vw, 1.125rem);
  line-height: 1.5;
}

/*Secciond de preguntas y respuestas*/

#faq {
  padding-bottom: 1rem;
  padding-top: 7rem;
  background-color: var(--background-color-grey);
}

/* Se crea el contenedor de las preguntas para que tenga dos columnas */
.contenedor-preguntas {
  display: grid;
  align-items: start;
  justify-content: space-evenly;
  gap: 5rem;
  grid-template-areas: "columna-1 columna-2";
  grid-template-columns: repeat(50%);
  grid-template-rows: 1fr;
  padding: 7rem;
}

.columna-1 {
  grid-area: columna-1;
}

.columna-2 {
  grid-area: columna-2;
}

summary {
  font-weight: bold;
  color: var(--grey);
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  display: block;
}

summary::after {
  margin-left: 10px;
  display: inline-block;
  transition: 0.2s;
  content: "\203A";
  color: var(--blue);
  font-size: 25px;
  transform: rotate(90deg);
}

details {
  margin-bottom: 2rem;
  font-size: clamp(0.875rem, 0.794rem + 0.4vw, 1.5rem);
  border-bottom: 1px dotted var(--grey);
}

details .respuesta {
  white-space: pre-line;
  text-align: justify;
  font-size: clamp(0.75rem, 0.702rem + 0.24vw, 1.125rem);
  line-height: 1.2;
}

.bold {
  color: var(--grey);
  font-weight: 800;
}

/*Cambia el sentido de la flecha para indicar que se ha desplegado el texto de la pregunta*/
details[open] summary::after {
  transform: rotate(-90deg);
}

/*Seccion Contacto*/
#contacto {
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--background-color-grey);
}

.info-contacto-cliente {
  flex-basis: 50%;
  background-color: var(--dark-blue);
  padding: 3rem;
}

.info-localizacion {
  margin: 0;
  background-color: var(--soft-blue);
  color: var(--grey);
  padding: 4rem;
  flex-basis: 50%;
  display: flex;
  gap: 3rem;
  align-items: center;
}

form {
  height: fit-content;
  width: 75%;
  margin: 30px auto 0 auto;
}

form * {
  width: 100%;
  display: inline-block;
  margin: 10px 0 0 0;
  outline: none;
  border: none;
  padding: 0;
  color: var(--white);
}

form input,
form textarea {
  border-radius: 10px;
  border: none;
  padding: 0;
  padding-left: 1rem;
  color: var(--dark-grey);
  font-family: inherit;
  font-weight: 500;
}

form input {
  height: 25px;
}

form textarea {
  padding-top: 1rem;
}

form div label {
  display: inline;
  width: 45%;
}

form div .phone {
  float: left;
}

form div .email {
  float: right;
}

form .message {
  height: 60px;
}

form .message {
  line-height: 20px;
  padding: 0;
}

.btn-formulario {
  height: 30px;
  border-radius: 30px;
  width: 150px;
  font-family: inherit;
  background-color: var(--blue);
  transition: all ease-in 0.3s;
}

.btn-formulario:hover {
  background-color: var(--yellow);
}

.titulo-formulario {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--yellow);
}

.mapa {
  width: 100%;
  height: fit-content;
}

/*footer*/
footer {
  background-color: var(--dark-grey);
  height: fit-content;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

footer img,
.logo {
  max-width: 350px;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer h3 {
  margin-bottom: 1rem;
}

footer ul {
  list-style: none;
}

footer ul li {
  line-height: 2;
}

footer ul li::before {
  content: "•  ";
  color: var(--blue);
  width: 1em;
  margin-left: -2em;
  font-weight: 600;
}

footer ul li a:hover {
  border-bottom: 2px solid var(--blue);
}

.enlaces {
  flex-basis: 80%;
  display: flex;
}

.info-enlaces {
  flex-basis: 20%;
}

.info-mapa {
  flex-basis: 80%;
}

/*Clases para poder animar desde JS*/

.aparecer-derecha {
  animation: aparecer-derecha 1s ease-in;
}

.aparecer-izquierda {
  animation: aparecer-izquierda 1s ease-in;
}

.subir {
  animation: subir 1s ease-in;
}

/*Animaciones*/

/*Animacion utilizada para el preloader*/
@keyframes rotar {
  to{
    transform: rotate(1turn)
  }
}

@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-izquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes aparecer-derecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes circular {
  100% {
    box-shadow: 0 0 0 52.8px #0000;
  }
}

@keyframes desplazarse {
  0% {
    transform: translateX(0);
  }

  /*Calcula que tanto va  a ser el desplazamiento en el eje x*/
  100% {
    transform: translateX(calc(-170px * 7));
  }
}

/*Media Query*/
@media (min-width: 768px) and (max-width: 1440px) {
  #slider {
    background-size: cover;
  }

  h2 {
    font-size: 40px;
  }

  .contenedor-tarjetas {
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
  }

  
  .flecha {
    display: none;
  }

  .tarjerta-producto {
    width: 70vw;
    height: 40vh;
  }

  .info-localizacion {
    flex-direction: column;
    height: fit-content;
  }

  label {
    font-size: 13px;
  }

  .info-contacto-cliente {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
  }

  footer {
    gap: 3rem;
  }

  footer img,
  .logo {
    max-width: 250px;
  }

  .enlaces {
    gap: 3rem;
  }

  .info-enlaces {
    flex-basis: 30%;
  }

  .info-mapa {
    flex-basis: 70%;
  }

  .tarjerta-producto:nth-child(6)::before {
    right: -20%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {


    #slider {
      background-size: contain;
    }

    #inicio {
      height: 10vh;
    }

  .barra-superior {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  small {
    font-size: 10px;
  }

  nav {
    flex-wrap: wrap;
  }

  nav ul li a {
    font-size: 10px;
  }

  h2 {
    font-size: 30px;
  }

  .descripcion {
    padding: 20px;
  }
  .info-enlaces{
    text-align: center;
  }

  .informacion-servicio-descripcion h2 {
    font-size: 20px;
  }

  .flecha {
    display: none;
  }

  .contenedor-tarjetas {
    flex-wrap: wrap;
    align-items: start;
  }

  .tarjerta-producto{
    min-width: 50vw;
    min-height: fit-content;
  }


  .informacion-servicio {
    transform: translateY(100%) translateY(-80px);
  }

  .contenedor-preguntas {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
  }

  footer,
  .enlaces {
    flex-direction: column;
    gap: 3rem;
  }

  #contacto,
  .info-localizacion {
    flex-direction: column;
  }

  .tarjerta-producto:nth-child(6)::before {
    transform: scale(0.6);
    right: -30%;
  }

  nav {
    gap: 1rem;
  }

  .nombre-marca {
    text-align: center;
    flex-basis: 100%;
  }

  nav ul {
    gap: 0.5rem;
    flex-direction: column;
  }

  .info-localizacion {
    padding: 2rem;
  }

  #contancto .info-contacto-cliente {
    margin: 2rem;
  }
  .info-contacto-cliente {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
}